# Gemini
VITE_OPENAI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
VITE_OPENAI_API_KEY="replace-with-your-key"
VITE_MODEL_NAME="gemini-3.1-flash-lite-preview"

# llama.cpp
#VITE_OPENAI_BASE_URL="http://localhost:8080/v1"
#VITE_OPENAI_API_KEY="replace-with-your-key"
#VITE_MODEL_NAME="replace-with-your-model"
